<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
    <div>
        <div>Trainer: <%= item.name %></div>
        <div>Pokemon: <%= item.pokename %>, Category: <%= item.category %></div>
    </div>
    <a href="/">Back to home</a>
</body>
</html>
