<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
    <% inventory.forEach(function(entry) { %>
    <div>
        <div>Trainer: <%= entry.name %></div>
        <div>Pokemon: <%= entry.pokename %>, Category: <%= entry.category %></div>
    </div>
    <% }); %>
</body>
</html>
